<html>
<body>
    <p>Hello {{ admin_name }},</p>
    <p>Your school has been set up on the platform. Use the credentials below to sign in. You will be required to change your password on first login.</p>
    <p><strong>School:</strong> {{ tenant_name }}</p>
    <p><strong>Login URL:</strong> {{ login_url }}</p>
    <p><strong>Email:</strong> {{ admin_email }}</p>
    <p><strong>Temporary password:</strong> {{ password }}</p>
    <p>Please keep this email secure and do not share your password.</p>
</body>
</html>
